@import 'tailwindcss';

:root {
  --background: #ff008c;
  --foreground: #ff00d9;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fdf2f8;
    --foreground: #171717;
  }
}

body {
  color: var(--foreground);
  background: linear-gradient(to bottom right, #fdf2f8, #faf5ff, #fdf2f8);
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  
  .text-gradient-red {
    background: linear-gradient(135deg, var(--primary-red) 0%, var(--secondary-grey-dark) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
}
